<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to your static CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://kit.fontawesome.com/19439c23c6.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="container">
        <div class="title"><h1><a href="{{ url_for('homepage') }}">Bookstore <i class="fa-solid fa-book-open"></i></a> </h1></div>
        <div>
            <form class="example" action="/search">
                <select name="genre">
                    <option value="">All Genres</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Non-fiction">Non-fiction</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Classics">Classics</option>
                    <option value="Young Adult">Young Adult</option>
                    <option value="Dystopian">Dystopian</option>
                    <option value="Drama">Drama</option>
                    <option value="Philosophy">Philosophy</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Biography">Biography</option>
                    <option value="Historical Fiction">Historical Fiction</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Memoir">Memoir</option>
                    
                    
                </select>
                <input type="text" placeholder="Search by Title, Author, Keyword, or ISBN" name="q">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="secondhalf">
            {% if user_logged_in %}
                <div><a href="{{ url_for('editprofile') }}"><i class="fa-solid fa-circle-user"></i></a></div>
                <div><a href="{{ url_for('logout') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></div>
            {% else %}
            {% endif %}
        </div>
    </div>

    <div class="image-container">
        <img src="static/photos/bookstore.jpg" alt="Forgot Password Image" class="forgot-password-image">
        <div class="overlay-text">Log in</div>
    </div>
<div class="loginpage">
  <div class="login">
    <h2>Log in</h2>
    	{% if error %}
    	<div style="color: red; font-weight: bold;">{{ error }}</div>
	{% endif %}

    <form method="POST">
      <!-- Required Fields -->
      <label for="name">Account ID or Email</label>
      <input type="text" id="name" name="name" placeholder="Account ID or Email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required>

      <button type="submit" class="signup-btn">Log In</button>
      
        <div class="login-link">
      Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a>
      <p></p>
      <a href="{{ url_for('forgotpassword') }}">Forgot Password?</a>
    </div>
</div>
</body>
</html>